*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.showcase{
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.6s;
}
.showcase.active{
    right: 300px;
}
.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    text-transform: uppercase;
    cursor: pointer;
}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.hero-shape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.hero-shape img{
    width: 100%;
    display: block;
}
.text{
    position: relative;
    z-index: 10;
}
.text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 20px;
}   
.text h3{
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase
}   
.text p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}    
.text a{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}   
.text a:hover{
    letter-spacing: 6px;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background: url('img/menu.png');
    filter: invert(1);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    cursor: pointer;
}
.toggle.active{
    background: url('img/close.webp');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center; 
}
.menu{
    display: flex;
}
.menu li{
    position: relative;
    margin: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
}
.menu li a{
    color: #fff;
}
.menu ul li a:hover{
    color: #03a9f4;
}
@media(max-width: 798px) {
    .showcase,
    .showcase header{
        padding: 40px;
    }
    .text h2{
        font-size: 4em;
        padding-top: 100px;
    }
    .text h3{
        font-size: 3em;
    }
    .text p{
        font-size: 2em;
    }
    .text a{
        font-size: 1.5em;
    }
}  
*,
*::before,
*::after{
    box-sizing: border-box;
}
.card{
    position: relative;
    left: 100px;
    top: -20px;
    color: #fff;
    background-image: url("img/img-800x500-studio-colourful.jpg");
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
}
.card-content{
    padding: 1.5rem;
    background: rgba(0,0,0,0.8);
}
.card-title{
    position: relative;
   line-height: 50px;
    width: max-content;
}    
.card-title::after{
    content: "";
    position: absolute;
    height: 4px;
    left: -24px;
    bottom: 0;
    width: calc(100% + 1.5rem);
    background: #f15c22;
    transform: translateY(-10px);
}  
.card-body{
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
}
.button{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #f15c22;
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}  
.button:hover,
.button:focus{
    background-color: #f15c22;
}


























    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    
    
    
    